.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/* styles from flat-ui-free2.0.0-fix.less files */
html, body {
  height: 100%;
  width: 100%;
  background: none repeat scroll 0 0 rgb(234, 234, 234);
}
body {
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.231;
  padding-top: 80px;
}

.page-wrapper {
  margin-bottom: 80px;
}

.navbar {
  background-color: #ecf0f1;
  border-bottom: 1px solid #95a5a6;
  webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
}


/*SEARCH FORM*/
.search {
  position: relative;
  margin-top: 20px;
  padding:100px;
  color: #fff;
  background-color: #1abc9c;
  border-radius: 1%;
}
.search-form .btn {
  background-color: #16a085;
  border: 2px solid #16a085;
}
.search-form .form-control {
  border-top: 1px solid #7f8c8d;
  border-bottom: 1px solid #95a5a6;
  font-size: 20px;
}

/* SEARCH RESULT */
#result-search .container { display: none; }
#result-search .mb20 { margin-bottom: 20px; } 
#result-search hgroup { padding-left: 15px; border-bottom: 1px solid #ccc; }
#result-search hgroup h1 { color: #16a085; margin-top: 0; line-height: 1.15; }
#result-search hgroup h2.lead { color: #2a3644; margin: 0; padding-bottom: 10px; }
#result-search .search-result .thumbnail { border-radius: 0 !important; }
#result-search .search-result:first-child { margin-top: 0 !important; }
#result-search .search-result { margin-top: 20px; }
#result-search .search-result .col-md-2 { border-right: 1px dotted #ccc; min-height: 150px; }
#result-search .search-result ul { padding-left: 0 !important; list-style: none;  }
#result-search .search-result ul li { line-height: 30px; }
#result-search .search-result ul li i { padding-right: 5px; }
#result-search .search-result .col-md-7 { position: relative; }
#result-search .search-result h3 { margin-top: 0 !important; margin-bottom: 10px !important; }
#result-search .search-result h3 > a, .search-result i { color: #16a085 !important; }
#result-search .search-result span.plus { position: absolute; right: 0; top: 140px; }
#result-search .search-result span.plus a { color: #fff; background-color: #16a085; padding: 10px; }
#result-search .search-result span.plus a:hover { background-color: #1abc9c; }
#result-search .search-result span.plus a i { color: #fff !important; }
#result-search .search-result span.border { display: block; width: 97%; margin: 0 15px; border-bottom: 1px dotted #ccc; }
#result-search { padding-top: 20px; }
/*LOGIN AREA*/

.login-form:before {
  content:none;
}
.login-screen {
  padding: 80px 199px 70px;
}
.login-screen {
  position: absolute;
  margin-top: -80px;
  width:100%;
  height: 100%;
  background-color: #1abc9c;
}
.login-form {
    margin: 0 100px;
}
.login-form .login-field-icon {
  font-size: 18px;
  top: 11px;
}
.login-icon > img {
  margin-bottom: 0;
}
.login-icon > h4, h3 {
  margin: 0;
}
.login-link {
  text-align: left;
  font-size: 1.2em;
}
.login-screen label {
  line-height: 20px;
}

.badge {
  background-color: #c0392b;
}

.badge:hover {
  background-color: #e84737;
}

#ui_notifIt {
  top: 70px;
}

.delete, .approve, .return {
  padding: 7px 18px;
  line-height: 1.2;
  font-size: 15px;
}

th, td {
  text-align: center;
}

.footer-margin-top {
  margin-top: 12px;
}

.navbar-inner {
  background-color: #ecf0f1;
  border-bottom: 4px solid #1abc9c;
}

div.hr {
  background: #1abc9c  no-repeat scroll center;
  margin-right: 15px;
  width:1136px;
  height:2px;
}

div.hr hr {
  display: none;
}